/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
 font-family: 'NikkyouSans-B6aV';
 src: asset_url('/assets/NikkyouSans-B6aV.ttf');
}

@font-face {
 font-family: 'KosugiMaru-Regular';
 src: asset_url('/assets/KosugiMaru-Regular.ttf');
}

body {
 font-family: 'KosugiMaru-Regular';
}

.form {
 border: solid 2px black;
 border-radius: 1em;
}


.btn:focus,
.btn:active {
 outline: none !important;
 box-shadow: none;
}

a:hover {
 text-decoration: none;
}

.nowrap {
 white-space: nowrap;
}

textarea {
 border: solid 2px black;
 border-radius: 1em;
}

.textarea:focus {
 box-shadow: none !important;
 outline: none !important;
}

.submit {
 text-align: center;
}



.btn--yellow {
 color: #000;
 width: 150px;
 background-color: #fff100;
 border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
 margin-top: 3px;
 color: #000;
 background: #fff20a;
 border-bottom: 2px solid #ccc100;
}



@media (max-width: 420px) {
 .btn--yellow {
  width: 85px;
  font-size: .8em;
  border-bottom: 3px solid #ccc100;
 }
 .pagination li {
  font-size: .5em;
 }
}
