.result_container {
  padding-top: 15px;
  margin-bottom: 30px;
  .result_map {
    width: 100%;
    position: relative;
    margin: auto;
    padding-top: 50%;
    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border: solid 2px black;
      border-radius: 1em;
    }
  }
  .table {
    font-size: 0.8em;
    th {
      white-space: nowrap;
    }
  }
  .button .result_button {
    display: inline-block;
  }
}

.result_btn {
  color: white;
  width: 9em;
}


.google {
  background: #4285F4;
}

.in {
  background: #F2E52E;
}

.decide {
  background: #FF8B33;
}

.fa-search {
  margin-right: 5px;
}

.fa-check {
  margin-right: 5px;
}

.fa-exclamation {
  margin-right: 5px;
}


@media (max-width: 1024px) {
  .result_container {
    .result_map {
      padding-top: 70%;
    }
  }
}
@media (max-width: 768px) {
  .result_container {
    .result_map {
      padding-top: 80%;
    }
  }
}

@media (max-width: 420px) {
  .result_container {
    .result_map {
      padding-top: 90%;
    }
    .table {
      font-size: 0.6em;
    }
    .result_btn {
      width: 8.5em;
      font-size: 0.6em;
    }
  }
  .gm-style-iw-d {
    font-size: 0.6em;
  }
  .fa-search {
    margin-right: 2px;
  }

  .fa-check {
    margin-right: 2px;
  }

  .fa-exclamation {
    margin-right: 2px;
  }
}


