.container {
  padding: 0;
  margin-bottom: 30px;
  .table {
      font-size: 0.8em;
    }
  .wrap {
    width: 100%;
    position: relative;
    margin: auto;
    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border: solid 2px black;
      border-radius: 1em;
    }
  }
}


.google {
  background: #4285F4;
  color: white;
  width: 9em;
}

.in {
  background: #F2E52E;
  width: 9em;
  color: white;
}

.decide {
  background: #FF8B33;
  width: 9em;
  color: white;
}

.fa-search {
  margin-right: 5px;
}

.fa-check {
  margin-right: 5px;
}

.fa-exclamation {
  margin-right: 5px;
  text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}


// @media (max-width: 960px) {
// 	.wrap {
// 		padding-top: 50%;
// 	}
// }
@media (min-width: 320px) {
  .wrap {
    padding-top: 100%;
  }
}

@media (min-width: 559px) {
  .wrap {
    padding-top: 75%;
  }
}

@media (min-width: 960px) {
  .wrap {
    padding-top: 50%;
  }
}
