.user-signup {
  max-width: 400px;
  textarea {
    height: 190px;
  }
}

@media (max-width: 420px) {
  .user-signup {
    font-size: .8em;
    h1{
      font-size: 2em;
    }
    textarea{
      font-size: 1em;
      height: 130px;
    }
  }
}
