.user-show {
  max-width: 700px; // margin: 15px;
  margin-top: 15px;
  .user-box {
    margin-bottom: 15px;
    .show-img {
      width: 250px;
    }
    .profile {
      word-break: break-all;
    }
  }
  .show_table {
    font-size: .8em;
    th {
      white-space: nowrap;
    }
    .int_th {
      width: 80px;
    }
  }
  .content {
    word-break: break-all;
  }
  .shop_memo {
    max-width: 300px;

  }

  .profile {
    max-width: 500px;
  }

  .good {
    font-size: 25px;
    color: #00B900;
  }

  .bad {
    font-size: 25px;
    color: #DA1725;
  }

  .int {
    color: #CCCCCC;
    font-size: 25px;
  }

  button:focus {
    outline: 0;
  }

  .int:hover {
    color: #F2E52E;
    cursor: pointer;
  }

  .not_int {
    color: #F2E52E;
    font-size: 25px;
  }

  .not_int:hover {
    cursor: pointer;
    color: #CCCCCC;
  }
}


@media (max-width: 420px) {
  .user-show {
    .user-box {
      .show-img {
        width: 150px;
      }
      .profile {
        margin-bottom: .5em;
        max-width: 300px;
      }
      h3 {
        font-size: 2em;
      }
      .text {
        font-size: .8em;
        margin-top: 1em;
      }
    }
    .show_table {
      font-size: .8em;
      th {
        padding: .5em;
      }
      .int-th {
        width: 20px;
      }
    }
    .content {
      max-width: 150px;
    }
    .shop-memo {
      margin-bottom: 0;
    }
    .good,
    .bad,
    .not_int,
    .int {
      font-size: 2em;
    }
  }
}
